#caixaSobre {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  margin: 4rem 0;
}

#caixaSobre h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#caixaSobre p {
  text-align: justify;
  max-width: 700px;
  width: 100%;
  line-height: 1.4; /* menor espaço entre linhas */
  white-space: normal; /* não precisa de pre-line porque usamos <br><br> */
}

.espacoParagrafo {
  display: block;
  height: 0.5rem; /* controla o espaço visual */
  pointer-events: none;
  user-select: none;
}

.espacoParagrafo::before {
  content: "";
  display: block;
  height: 100%;
}

.experiencia {
  margin-bottom: 4rem;
}

.experiencia h3 {
  text-align: center;
  margin-top: 2rem;
}

.experiencia ul {
  list-style-type: disc;
  padding-left: 2rem;
  max-width: 700px;
  margin: 1rem auto; /* Centraliza a lista horizontalmente */
  text-align: left;
}

.experiencia li {
  margin-bottom: 0.5rem;
}
