#todos-projetos {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for PC */
  gap: 2.3rem;
}

/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  #todos-projetos {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  #todos-projetos {
    grid-template-columns: repeat(1, 1fr); /* 1 column for mobile */
  }
}
