#footer {
  background: #000000;
  padding: 0;
  padding-top: 2rem;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.footer-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-widget a {
  text-decoration: none;
}

.footer-widget h1 {
  color: white;
}

.footer-widget h1:hover {
  color: #0077b5;
}

.footer-contact h3 {
  margin: 5px 0;
  font-size: 16px;
}

.footer-contact a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  text-align: left;
}

.footer-contact a:hover {
  color: #0077b5; /* LinkedIn blue */
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.footer-icons a {
  color: white;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #0077b5;
}

#footer-bottom {
  background: #000000;
  padding: 10px 0;
}

#footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: white;
}
