/* Grid container */
#habilidades {
  padding: 1rem 1rem;
}

.icons {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(10, 1fr); /* 10 items per row on PC */
  justify-content: center;
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .icons {
    grid-template-columns: repeat(5, 1fr); /* 5 items per row on mobile */
  }
}

.icon {
  font-size: 80px; /* Default size */
  transition: transform 0.3s ease, color 0.3s ease;
  text-align: center;
}

/* Specific Colors */
.tailwind {
  color: #38bdf8; /* Tailwind blue */
}

.springboot {
  color: #6db33f; /* Spring Boot green */
}

.nodejs {
  color: #68a063; /* Node.js green */
}

/* Hover Effects */
.icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
