@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  margin: 0;
  background-color: #ffffff;
}
a,
h1,
h3,
h2,
p,
button,
ul,
li {
  font-family: "Times New Roman", serif;

  color: #000000;
}

main {
  min-height: 500px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 1rem;
  margin: 4rem 0;
}

.ver-mais-btn {
  background-color: white;
  color: #1e1e1e;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #1e1e1e;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(109, 109, 109, 0.705);
}

.ver-mais-btn:hover {
  background-color: #1e1e1e;
  color: white;
}
