nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 0.5rem 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-link-button {
  border: white 1px solid;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  display: inline-block;
}

.nav-link-button:hover {
  background-color: white;
  color: #1e1e1e;
  text-decoration: none;
}

#menuMobile {
  display: none; /* Hide the menu by default */
  position: fixed; /* Add positioning */
  top: 20;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  z-index: 10; /* Ensure it's on top of other elements */
}

#toggleButton {
  display: none; /* Hide the button by default */
}

/* Styles for mobile screens (max-width: 768px) */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  #toggleButton {
    font-size: 24px;
    width: 30px;
    display: block; /* Show the button on mobile screens */
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    margin: 0px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #buttonBackground {
    background-color: #1e1e1e;
  }

  #menuMobile {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #menuMobile a {
    padding: 10px;
    color: white;
    text-decoration: none;
  }

  #menuMobile a:hover {
    background-color: #6e6d6d;
  }
}
